@{
    ViewData["Title"] = "";
}

<div class="spell-container text-center">
    <form id="input-form" action="">
        <textarea id="input-text-form" rows="15" cols="150" style="font-size: 20px;"> Some sample text. </textarea>
        <textarea id="output-text-form" rows="15" cols="150" style="font-size: 20px;"> Result text. </textarea>
        <input id="check-button" type="submit" value="Check" style="font-size: 30px;">
        <input id="upload-button" onchange="readText(event)" type="file" value="Upload" style="font-size: 30px;">
    </form>
</div>
